{% extends 'navbar.html' %}
{% block content %}
<script>

    document.getElementsByClassName("nav-link")[0].className="nav-link active"
    var body=document.querySelector("body")
    
    body.style="color:white"
    localStorage.setItem("1","me")
</script>
<br>
<br>

<h1 style="color:chartreuse;text-align: center;">FACE RECOGNITION TECHNOLOGY</h1>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <h1>New Student?</h1>
            <br>
            <br>
            <button type="button" class="btn btn-lg btn-success"><a href="{% url 'register' %}">Register here</a></button>
        </div>
        <div class="col-lg-4 col-md-12">
            <h1>To Take Attendnace</h1>
            <br>
            <br>
            <button type="button" class="btn btn-lg btn-success"><a href="{% url 'attendance' %}">click here</a></button>
        </div>
        <div class="col-lg-4 col-md-12">
            <h1>To check Attendance</h1>
            <br>
            <br>
            <button type="button" class="btn btn-lg btn-success"><a href="{% url 'attendance' %}">click here</a></button>
        </div>
    </div>
</div>
{% load static %}

<script src="{% static 'three.min.js' %}"></script>
<script src="{% static 'vanta.birds.min.js' %}"></script>
<script>
    VANTA.BIRDS({
      el: "#body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: screen.height*(0.9),
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color1: 0x6fc59,
      color2: 0x4900ff,
      colorMode: "lerpGradient",
      wingSpan: 30.00,
      speedLimit: 10.00,
      alignment: 20.00,
      cohesion: 20.00
    })
    </script>
{% endblock %}