{% extends 'navbar.html' %}
{% block content %}

<script>
    document.getElementsByClassName("nav-link")[1].className="nav-link active"
    document.querySelector("title").innerHTML="register face"
</script>
{% if user.submit %}
    {% if  user.saved %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>user named {{user.name}} is added successfully</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>
        localStorage.setItem('1','me')
    </script>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>user named {{user.name}} is not added</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{% endif %}

<video id="webcam" width="1280" height="720" autoplay></video>
<form id="my-form"  action="{% url 'registerface' %}" method="post">
    {% csrf_token %}
    <input type="hidden"  id="name" name="name">
    <input type="hidden"  id="rollno" name="rollno">
    <input type="hidden"  id="section" name="section">
    <input type="hidden"  id="email" name="email">
    <input type="hidden"  id="number" name="number">
    <input type="hidden" id="image-data" name="image-data">
    <button type="submit" id="button" class="btn btn-primary" onclick="submit_details()">Submit</button>
  </form>
<canvas id="canvas" style="display:none;"></canvas>
<script>
    var form = document.getElementById('my-form');
    function submit_details(){
        var videoElement = document.getElementById('webcam');
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        canvas.width=1280;
        canvas.height=720;
        context.drawImage(videoElement,0,0,canvas.width,canvas.height);
        url=canvas.toDataURL('image/jpeg')
        let data=JSON.parse(localStorage.getItem('1'))
        document.getElementById('name').value=data[0]
        document.getElementById('rollno').value=data[1]
        document.getElementById('section').value=data[2]
        document.getElementById('email').value=data[3]
        document.getElementById('number').value=data[4]
        document.getElementById('image-data').value=url
        form.submit()
     }
    navigator.mediaDevices.getUserMedia({ video:true}).then(function(stream) {
      var videoElement = document.getElementById('webcam');
      videoElement.srcObject = stream;
      videoElement.play();
    })
  </script>
{% endblock %}